@import "../../Components/Layout/Layout.scss";

header{
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      padding:3rem 2rem;
      h2{
            font-size: 2.5rem;
      }

      a{
            text-decoration: none;
            color: white;
      }
}
.togglebtn{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
}
.switch{
      position: relative;
      display: inline-block;
      width: 44px;
      height: 24px;
      
}
.switch input{
      height: 0;
      width: 0;
      opacity: 0;
}
.slider{
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: white;
      transition: .4s;
      border-radius: 50px;
}
.slider:before{
      content: "";
      position: absolute;
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: var(--accent-color);
      transition: .4s;
      border-radius: 50%;
}   
input:checked + .slider::before{
      transform: translateX(20px);
}
